root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_diagnostic.CA1031.severity = suggestion
dotnet_diagnostic.CA1062.severity = suggestion
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1305.severity = suggestion
dotnet_diagnostic.CA1515.severity = none
dotnet_diagnostic.CA1711.severity = none
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA1822.severity = suggestion
dotnet_diagnostic.CA1849.severity = suggestion
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA2016.severity = suggestion
dotnet_diagnostic.CA2213.severity = warning
dotnet_diagnostic.CA1848.severity = suggestion
dotnet_diagnostic.CA1000.severity = none
dotnet_diagnostic.CA1001.severity = suggestion
dotnet_diagnostic.CA1040.severity = none
dotnet_diagnostic.CA1054.severity = none
dotnet_diagnostic.CA1056.severity = none
dotnet_diagnostic.CA1308.severity = none
dotnet_diagnostic.CA1720.severity = none
dotnet_diagnostic.CA1724.severity = none
dotnet_diagnostic.CA1859.severity = none

[tests/**.cs]
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1063.severity = none
dotnet_diagnostic.CA1816.severity = none
dotnet_diagnostic.CA1861.severity = none
dotnet_diagnostic.CA2000.severity = suggestion
